.HomePage2Container{
    background-color: #fff;
    width: 80%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    margin-top: 7.5%;
    height: auto;
    margin-bottom: 3%;
}


.userQuestionContainer {
    display: flex;
    align-items: center;
    padding: 10px; /* Add some padding around the container */
    background-color: #fff; /* Sample background color */
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    /* border-bottom: 1px solid #ececec; Just a slight border for separation */
}

.profileImage {
    width: 50px; /* Fixed width for the profile image */
    height: 50px; /* Fixed height for the profile image */
    border-radius: 1%; /* Circular profile images */
    /* margin-right: 20px; Space between image and question box */
    padding: 1%;
}

.questionBox {
    flex-grow: 1; /* Take up remaining space */
    /* background-color: #fff; White background for the question */
    height: auto; /* Fixed height as per your spec */
    padding: 20px; /* Padding inside the box */
    /* border-radius: 4px; Slightly rounded corners for the box */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); A subtle shadow for depth */
    overflow: hidden; /* Ensures content doesn't overflow */
    white-space: nowrap; /* Keeps the text on a single line */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
    color: #1C1C1D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}


/* //AnswerSection */

.answerSection {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: rgba(217, 217, 227, 0.2);
  }
  
  .answerText, .graphSection {
    margin-bottom: 20px; /* Spacing between sections */
  }
  
  .answerIcon, .graphImage, .insightIcon {
    margin-right: 20px;
  }

  .answerText{
    display: flex;
    align-items: center;
  }

  .textOfAnswer{
    flex-grow: 1; /* Take up remaining space */
    /* background-color: #fff; White background for the question */
    height: auto; /* Fixed height as per your spec */
    padding: 20px; /* Padding inside the box */
    /* border-radius: 4px; Slightly rounded corners for the box */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); A subtle shadow for depth */
    overflow: hidden; /* Ensures content doesn't overflow */
    white-space: nowrap; /* Keeps the text on a single line */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
    color: #1C1C1D;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.18px;
  }
  
  .graphSection {
    display: flex;
    align-items: center; /* Align buttons vertically center */
  }
  
  .graphImage {
    width: 472px;
    height: 330px;
    /* padding: 38.744px; */
    padding-left: 0;
    border-radius: 3%;
  }
  
  .graphButtons {
    display: flex;
    flex-direction: column;
    gap: 25.83px;
  }
  
  
  .graphButton {
    display: inline-flex;
    height: 40px;
    border-radius: 5px;
    background: rgba(213, 222, 255, 0.50);
    border: none;
    cursor: pointer;
    padding: 25px;
    align-items: center;
    justify-content: center; /* Adjust as needed */
    gap: 10px; /* Adjust the spacing between the icon and the text */
    white-space: nowrap;
    color: #1C1C1D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    /* padding-right: 25px;
    padding-left: 25px; */
  }

  .graphButton
  
  .insightSection {
    display: flex;
    align-items: center;
  }
  
  .Insights {
    flex-grow: 1;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
  }
  
  .insightText p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
  }

  
  /* FollowUp */
  .follow-up-container {
    /* width: 960px; */
    height: 120px;
    background: #fff;
    overflow: hidden;
    position: relative;
    /* margin-bottom: 20px; Spacing, adjust as needed */
    /* padding: 1%; */
  }
  
  .questions-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 1.2% 0% 1% 2%;
  }
  
  .question-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px 0px 30px 30px;
    background: #D5DEFF;
    border: none; /* Remove default border */
    cursor: pointer;
    white-space: nowrap; /* Keep text on one line */
    padding: 10px;
  }
  
  .question-icon {
    /* your icon styles here */
  }
  
  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none; /* Remove default border */
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
  }
  
  .scroll-btn.left {
    left: 0;
  }
  
  .scroll-btn.right {
    right: 0;
  }
  
  /* Hide scrollbars but allow scrolling */
  .questions-container::-webkit-scrollbar {
    display: none;
  }
  
  .questions-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  
.searchContainer2 {
  position: absolute;
  bottom: 1px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  align-items: left;
  width: 99.9%;
  height: 35%;
  border-radius: 1px;
  border: 1px solid #000;
  background: #FFF;
}


.searchInput2 {
  flex: 1;
  z-index: 100;
  border: 0px;
}

.searchIconContainer2 {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon2 {
  width: 20px; /* Adjust as per your needs */
  height: 20px; /* Adjust as per your needs */
  /* margin-left: 10px; */
  display: flex;
  cursor: pointer;
}
