.Doucument_validator{
    width: 1050px;
height: 1043px;
flex-shrink: 0;
border-radius: 5px;
/* background: #FFF; */
color: #FFFFFF;

}
.Doucument_validator h1{
    color: #446CFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 46px; /* 153.333% */
text-transform: uppercase;
}
.Upload_Icon img{
    border-radius: 10px;
    border-color: #2449d0;
    background: #FFF;
    padding: 6%;
    margin-left: 38%;
    
}
/* check box css */
.flex.items-center.space-x-2.leftside{
 margin-left: 15%;
}
.flex.items-center.space-x-2.Rightside{
    margin-left: 32%;
}

/* generate button css */
.flex.items-center.justify-center.p-4.bg-blue-500.text-white.rounded-md{
    margin-left: 40%;
}
.ExtractionIcon{
    margin-left: 50%;
}
.Navicon{
    margin-left: 90%;
}

.h-5.text-center.bg-white.border.border-gray-300.mt-10.p-10.mb-8{
    width: 80%;
    margin-left: 11%;

}