<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRAME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Search ">
            <span class="search-symbol">&#128269;</span>
        </div>
    </div>

    <div id="common-container">
        <div id="answer-section">
            <div id="actual-answer"></div>
            <div id="loading-text"></div>
        </div>

        <div id="suggestions-section">
            <div class="suggestions-wrapper">
                <div id="suggestions-bubbles"></div> <!-- Bubbles for suggestions -->
            </div>
        </div>
    </div>

    <div id="timer-section"></div> <!-- Timer section below common-container -->

    <div class="content-container">
        <div id="main-container">
            <div id="graph-section">
                <!-- This is where we'll render the graph -->
                <img id="graph-image" src="" alt="" style="max-width:100%; height:auto;">
                <div class="dashboard-dropdown">
                    <button class="add-dashboard-btn">Add to Dashboard</button>
                    <div class="dropdown-content">
                        <!-- Dynamically populate this area using JavaScript/jQuery -->
    
                    </div>
                </div>
            </div>
            
            <div id="insight-section">
                <!-- Insights will be added here dynamically -->
            </div>
        </div>
    </div>

    <div class="left-nav">
        <div class="nav-header">IRAME</div>
     
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>