@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none
}

.primary-button {
	@apply text-base font-semibold text-white py-4 px-8 rounded-xl bg-primary;
}

.secondary-button {
	@apply text-base font-semibold text-border-primary py-3 px-6 rounded-lg bg-secondary;
}

.bg-header {
	@apply bg-white border-b border-b-black/10;
}

h2 {
	@apply tPro:text-[50px] tPro:leading-[56px] text-4xl font-bold text-typography;
}

p {
	@apply text-lg font-normal text-typography-opacity-70;
}

.hero-section {
	/* background-image: url('/assets/bgs/background.png'); */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	@apply bg-[url('/assets/bgs/hero-bg.svg')] 
}

.my-container {
	@apply tPro:px-[100px] px-6;
}

.our-solutions-bg-gradient {
	background-image: linear-gradient(
		to bottom,
		rgba(49, 60, 89, 1),
		rgba(22, 28, 45, 1)
	);
}

.content {
	@apply tPro:px-10;
}

.accordion-content {
	/* transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; */
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}

.accordion-content.open {
	max-height: 1000px; /* Adjust based on the maximum expected content height */
	opacity: 1;
}

.animated-text {
	overflow: hidden;
	display: block;
	position: relative;
	height: 1.2em; /* Adjust the height of the container as needed */
}

.phrase {
	animation: textTransition 2s infinite; /* Adjust the duration as needed */
	display: block;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 100%; /* Start the phrases below the container */
	width: 100%;
}

@keyframes textTransition {
	0% {
		opacity: 1;
		top: 100%; /* Start from below the container */
	}
	100% {
		opacity: 1;
		top: -120%; /* Move upward by the height of the container */
	}
}

.input-wrapper {
	@apply relative;
}
.input-wrapper input {
	@apply border-black/20 border box-border rounded-lg py-[17px] px-[14px] text-black/80 text-base font-normal leading-5
     focus:border-black/60 focus-visible:border-black/60 focus:outline-none focus-visible:outline-none
      placeholder:text-black/40 placeholder:text-sm placeholder:font-normal
       hover:border-black/40  h-[56px];
}
.input-wrapper label {
	@apply absolute z-[2] left-[14px] top-3.5 px-0.5 pointer-events-none bg-white translate-y-1 transition duration-200 ease-in-out text-black/60 text-base leading-5 font-normal w-4/5;
}

.input-wrapper input:focus + label,
.input-wrapper input:valid + label,
.input-wrapper input.disabled + label {
	@apply -translate-y-0.5 text-xs leading-3 !-top-1 left-2 !w-fit;
}
.input-wrapper input.disabled {
	@apply cursor-not-allowed pointer-events-none opacity-60;
}
.input-wrapper input:disabled + label {
	@apply text-black/20;
}
.input-wrapper input:disabled {
	@apply text-black/20 border-black/10;
}

.ability-card {
	/* border: 10px solid; */
	/* border-color: "linear-gradient(249.36deg, #FFFFFF -0.56%, rgba(255, 255, 255, 0.2) 99.98%)"; */
	box-shadow: 0px 0px 40px 0px rgba(99, 115, 129, 0.12);
	/* background: linear-gradient(90deg, hsla(258, 80%, 38%, 1) 0%, hsla(47, 61%, 59%, 1) 100%); */
	/* background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(89.88deg, rgba(121, 28, 226, 0) 39.49%, rgba(121, 28, 226, 0.1) 99.9%); */
	background: linear-gradient(90deg, #FFFFFF 0%, #F2E9FC 98.85%);

}

.footer-gradient-container {
	background-image: url('/assets/bgs/footer_gradient.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
  }
  
  